<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinations</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="#" type="image/x-icon">
</head>

<body>
    <div class="navbar">
        <div class="container">
            <a class="logo" href="/">GroupTrip<span>Planner</span></a>
            <img id="mobile-open-menu" class="mobile-open-menu" src="/images/menu.svg" alt="Open Navigation">

            <nav>
                <img id="mobile-exit-menu" class="mobile-exit-menu" src="/images/exit.svg" alt="Close Navigation">
                <ul>
                    <li><a href="/destinations">Destinations</a></li>
                    <li><a href="/groups">Groups</a></li>
                    <li><a href="/votes">Votes</a></li>
                    <li><a href="/account">Account</a></li>
                    <li>
                        <form action="/logout" method="post">
                            <button type="submit" name="logout" class="logout-btn">Logout</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
        <section class="destination-view">
            <div class="container">
                <div class="details">
                    <div class="location">
                        <h1 class="city">
                            <%= locals.destination.city %>
                        </h1>
                        <h2 class="country">
                            <%= locals.destination.country %>
                        </h2>
                    </div>

                    <div class="description">
                        <h3>Description</h3>
                        <p>
                            <%= locals.destination.description %>
                        </p>
                    </div>

                    <div class="row">
                        <div class="budget">
                            <h3>Budget</h3>
                            <span>&#x20AC;<%= locals.destination.budget %></span>
                        </div>
                        <div class="nights-stay">
                            <h3>Stay</h3>
                            <span>
                                <%= locals.destination.nights_stay %> nights
                            </span>
                        </div>
                        <div class="vote-count">
                            <h3>Votes</h3>
                            <span>
                                <%= locals.destination.vote_count %>
                            </span>
                        </div>
                        <div class="group-name">
                            <h3>Group</h3>
                            <span>
                                <%= locals.destination.group.name %>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="vote-row">
                    <div class="vote">
                        <h4>Want to Go?</h4>
                        <div class="vote-forms">
                            <form id="vote_form" action="/votes/true" method="post">
                                <input id="document_id" type="number" name="destination_id" value="<%= locals.destination.id %>" hidden>
                                <button type="submit" id="vote_true">Yes</button>
                            </form>
                            <form action="/votes/false" method="post">
                                <input id="document_id" type="number" name="destination_id" value="<%= locals.destination.id %>" hidden>
                                <button type="submit" id="vote_false">No</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div>
                    <% if (locals.message) { %>
                        <span class="message">
                            <%= locals.message %>
                        </span>
                        <% } %>
                </div>
                <% if (locals.isOwner) { %>
                    <div class="modify">
                        <form action="/destinations/<%= locals.destination.id %>/edit" method="get">
                            <button class="edit" type="submit">Edit Destination</button>
                        </form>
                        <button id="<%= locals.destination.id %>" class="delete"
                            onclick="deleteDestination(this.id)">Delete Destination</button>
                    </div>
                    <span id="message" class="message no-message"></span>
                <% } %>
            </div>
        </section>
    <script src="/js/nav.js"></script>
    <script>

        function vote(id) {
            console.log('called vote fn');
            const destination_id = document.getElementById('document_id').value;
            let vote_choice = false;

            if (id === 'vote_true') {
                vote_choice = true;
            }
            else {
                vote_choice = false;
            }
            console.log('set vote choice');
            fetch('/votes', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ choice: vote_choice, destination_id: destination_id })
            }).then(res => {
                console.log(res);
                return res.json();
            }).then(json => {
                console.log('then');
                if (json.message) {
                    message.classList.add('no-message');
                    message.innerHTML = 'Could not cast vote. Please try again.';
                }
            }).catch(err => {
                console.error(err);
            });
        }

        function deleteDestination(id) {
            const message = document.getElementById('message');

            fetch('/destinations/' + id, {
                method: 'DELETE'
            }).then(res => res.json()
            ).then(json => {
                if (json.isDeleted) {
                    window.location.href = `/destinations`;
                }
                else {
                    message.classList.add('no-message');
                    message.innerHTML = 'Could not delete destination. Please try again.';
                }
            });
        }
    </script>
</body>

</html>