<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinations</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="#" type="image/x-icon">
</head>

<body>
    <div class="navbar">
        <div class="container">
            <a class="logo" href="/">GroupTrip<span>Planner</span></a>
            <img id="mobile-open-menu" class="mobile-open-menu" src="/images/menu.svg" alt="Open Navigation">

            <nav>
                <img id="mobile-exit-menu" class="mobile-exit-menu" src="/images/exit.svg" alt="Close Navigation">
                <ul>
                    <li class="current"><a href="/destinations">Destinations</a></li>
                    <li><a href="/groups">Groups</a></li>
                    <li><a href="/votes">Votes</a></li>
                    <li><a href="/account">Account</a></li>
                    <li>
                        <form action="logout" method="post">
                            <button type="submit" name="logout" class="logout-btn">Logout</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <section class="destinations">
        <div class="container">
            <% if (locals.destinations.length > 0) { %> 
                <div class="content-header row">
                    <span class="number">#</span>
                    <span class="city">City</span>
                    <span class="country">Country</span>
                    <span class="budget">Budget</span>
                    <span class="nights-stay">Stay</span>
                    <span class="vote-count">Votes</span>
                </div>
                <div id="destination-list" class="list">
                    <% if (locals.destinations) { %>
                        <% for (let i=0; i < locals.destinations.length; i++) { %>
                            <div id="<%= locals.destinations[i].id %>" class="list-item row"
                                onclick="viewDestination(this.id)">
                                <span class="number">
                                    <%= i + 1 %>
                                </span>
                                <span class="city">
                                    <%= locals.destinations[i].city %>
                                </span>
                                <span class="country">
                                    <%= locals.destinations[i].country %>
                                </span>
                                <span class="budget">&#x20AC;<%= locals.destinations[i].budget %></span>
                                <span class="nights-stay">
                                    <%= locals.destinations[i].nights_stay %> nights
                                </span>
                                <span class="vote-count">
                                    <%= locals.destinations[i].vote_count %>
                                </span>
                            </div>
                            </a>
                            <% } %>
                                <% } %>
                </div>
            <% } else { %>
                <h2 class="no-destinations">There are no destinations yet.</h2>
            <% } %> 
            <div class="create-new">
                <button onclick="createDestination()">Create New</button>
            </div>
        </div>
    </section>
    <script src="/js/destinations.js"></script>
    <script src="/js/nav.js"></script>
</body>

</html>