<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groups</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="#" type="image/x-icon">
</head>

<body>
    <div class="navbar">
        <div class="container">
            <a class="logo" href="/">GroupTrip<span>Planner</span></a>
            <img id="mobile-open-menu" class="mobile-open-menu" src="/images/menu.svg" alt="Open Navigation">

            <nav>
                <img id="mobile-exit-menu" class="mobile-exit-menu" src="/images/exit.svg" alt="Close Navigation">
                <ul>
                    <li><a href="/destinations">Destinations</a></li>
                    <li><a href="/groups">Groups</a></li>
                    <li><a href="/votes">Votes</a></li>
                    <li><a href="/account">Account</a></li>
                    <li>
                        <form action="/logout" method="post">
                            <button type="submit" name="logout" class="logout-btn">Logout</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
        <section class="group-view">
            <div class="container">
                <div class="details">
                    <div class="name">
                        <h1>
                            <%= locals.group.name %>
                        </h1>
                    </div>

                    <div class="members">
                        <h3>Members</h3>
                        <% for (let i = 0; i < locals.group_members.length; i++) { %>
                            <div class="member">
                                <span><b><%= i+1 %></b></span>
                                <p>
                                    <%= locals.group_members[i].email %>
                                </p>
                                <% if (locals.isOwner) { %>
                                    <% if (locals.group.user.email === locals.group_members[i].email) { %> 
                                        <button title="Cannot remove group creator" disabled>Remove</button>
                                    <% } else { %>
                                        <button onclick="deleteGroupMember('<%= locals.group.id %>', '<%= locals.group_members[i].id %>')">Remove</button>
                                    <% } %> 
                                <% } else { %>
                                    <button title="Only the group creator can remove members" disabled>Remove</button>
                                <% } %> 
                            </div>
                        <% } %> 
                    </div>
                    <% if (locals.isOwner) { %>
                    <form id="newGroupMemberForm" action="/groups/<%= locals.group.id %>/add-member" method="post">
                        <h3>Add Group Member</h3>
                        <div id="new-member" class="new-member">
                            <input type="email" placeholder="Enter Member Email" name="email" required>
                            <button type="submit">Add Member</button>
                        </div>
                    </form>
                    <div class="delete-group">
                        <button onclick="deleteGroup('<%= locals.group.id %>')">Delete Group</button>
                    </div>
                    <% } %>

                </div>
                <div>
                    <% if (locals.message) { %>
                        <span class="message">
                            <%= locals.message %>
                        </span>
                        <% } %>
                </div>
            </div>
        </section>
    <script src="/js/nav.js"></script>
    <script>

        function deleteGroup(id) {
            const message = document.getElementById('message');

            var result = confirm("Deleting the group will delete the group and ALL its destinations. Are you sure?");
            if (result) {
                fetch('/groups/' + id, {
                    method: 'DELETE'
                }).then(res => res.json()
                ).then(json => {
                    if (json.isDeleted) {
                        window.location.href = `/groups`;
                    }
                    else {
                        message.classList.add('no-message');
                        message.innerHTML = 'Could not delete group. Please try again.';
                    }
                });
            }
        }

        function deleteGroupMember(group_id, member_id) {
            const message = document.getElementById('message');

            var result = confirm("You are about to remove a group member from your group. Are you sure?");
            if (result) {
                fetch('/groups/' + group_id + '/members/' + member_id, {
                    method: 'DELETE'
                }).then(res => res.json()
                ).then(json => {
                    if (json.isDeleted) {
                        window.location.href = `/groups/${group_id}`;
                    }
                    else {
                        message.classList.add('no-message');
                        message.innerHTML = 'Could not delete group member. Please try again.';
                    }
                });
            }
        }
    </script>
</body>

</html>